@page "/todo"

<h5>Todo från Rest API</h5>


<table class="table">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Cache.GetTodo())
        {
            <tr>
                <th>@item.UserId</th>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>
                    @if (item.Completed)
                    {
                        <span>JA</span>
                    }
                    else
                    {
                        <span>NEJ</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

